.Rproj.user
.Rhistory
.RData
.Ruserdata
/*
/*/
*.log
!/.gitignore
!/.Rbuildignore
!/.gitlab-ci.yml
!/data-raw/
!/DESCRIPTION
!/inst/
!/LICENSE.md
!/man/
!NAMESPACE
!/R/
!/ci/
!/vignettes/
!/vignettes/*.Rmd
!/README.md
!/tests/
/.Rhistory
!/*.Rproj
/.Rproj*
/.RData
/.vscode
!/inst/example_data/*.csv
/plots/
!/data/
!/.lintr
!/inst/example_data/count_data.csv
!/inst/example_data/metadata.csv
!/data/countdata.rda
!/data/metadata.rda
